@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0DD;
    padding: 20px 110px;
}

.green-bg {
    top: 0;
    position: fixed;
    height: 127px;
    background-color: #00A884;
    width: 100%;
    z-index: 0;
}

.whatsapp {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    display: flex;
}

.left {
    width: 480px;
}

.left header {
    width: 100%;
    padding: 10px 16px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    > div {
        width: 200px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3px;
        > button {
            background-color: transparent;
            border: none;
            color: #54656F;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.left main {
    > form {
        padding: 10px 12px;
        position: relative;
        > button {
            border: none;
            position: absolute;
            z-index: 1;
            top: 20px;
            left: 24px;
            font-size: 13px;
            color: #677680;
        }
        > input {
            background-color: #F0F2F5;
            width: 100%;
            border: none;
            height: 35px;
            border-radius: 8px;
            padding-left: 40px;
            outline: none;
        }
    }
}

.filtered {
    padding: 2px 16px 7px 16px;
    display: flex;
    gap: 8px;
    > button {
        padding: 6px 12px;
        background-color: #E9EDEF;
        border: none;
        color: #54656F;
        font-size: 15px;
        border-radius: 42px;
        font-weight: 300;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.message-list {
    height: 769px;
    overflow-y: auto;
    border-top: 1px solid #e9edef;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #e9edef;
}

.message-list::-webkit-scrollbar {
    width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: #ced0d1;
}

.message-list::-webkit-scrollbar-track {
    background-color: #fff;
}

.message-list-item {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    > img {
        width: 49px;
        height: 49px;
        border-radius: 50%;
        object-fit: cover;
    }
    > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
        > p {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 4px;
            color: #667781;
            letter-spacing: 0.5px;
            > img {
                width: 18px;
                height: 10px;
            }
        }
        > h3 {
            font-size: 17px;
            color: #111B21;
            font-weight: 400;
        }
        > h6 {
            font-size: 12px;
            color: #667781;
            font-weight: 400;
            min-width: 33px;
            text-align: center;
        }
        > i {
            color: #667781;
        }
    }
    > div:last-child{
        margin-left: auto;
    }
}

.message-list-item:hover {
    background-color: #F0F2F5;
}

.right {
    background-color: #F0F2F5;
    width: calc(100% - 480px);
}

.default {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img {
        width: 320px;
        height: 188px;
        object-fit: cover;
    }
    > h3 {
        margin-top: 38px;
        font-size: 36px;
        font-weight: 200;
        color: #41525d;
        letter-spacing: -0.5px;
    }
    > p {
        font-size: 14px;
        color: #667781;
        font-weight: 400;
        margin: 24px 0;
    }
    > a {
        background-color: #008069;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        padding: 10px 24px;
        border-radius: 24px;
    }
}

.message-box {
    width: 100%;
    height: 100%;
    background-color: #efeae2;
    background-image: url(././img/message-bg.png);
    background-size: 40vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-box header {
    background-color: #F0F2F5;
    width: 100%;
    border-left: 1px solid #ced0d1;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        align-items: center;
        gap: 15px;
        > img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        > h3 {
            font-size: 16px;
            color: #111B21;
            font-weight: 400;
            letter-spacing: 0.5px;
        }
        > i {
            color: rgb(84, 101, 111);
            font-size: 20px;
            text-align: center;
            width: 50px;
        }
    }
}

.message-box main {
    height: calc(100% - 122px);
    padding: 16px 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.message-box main::-webkit-scrollbar {
    width: 8px;
}

.message-box main::-webkit-scrollbar-thumb {
    background-color: #ced0d1;
}

.message-box main::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-text {
    font-size: 13px;
    color: #111B21;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.outgoing {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    max-width: 500px;
    background-color: #d9fdd3;
    padding: 16px;
    border-radius: 8px;
    padding-right: 70px;
    align-self: flex-end;
    line-height: 20px;
    > h6 {
        position: absolute;
        font-size: 11px;
        color: #667781;
        font-weight: 400;
        right: 8px;
        bottom: 6px;
        display: flex;
        align-items: center;
        gap: 4px;
        > img {
            width: 18px;
            height: 10px;
        }
    }
}

.incoming {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    max-width: 500px;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    padding-right: 70px;
    align-self: flex-start;
    line-height: 20px;
    > h6 {
        position: absolute;
        font-size: 11px;
        color: #667781;
        font-weight: 400;
        right: 8px;
        bottom: 6px;
        display: flex;
        align-items: center;
        gap: 4px;
        > img {
            width: 18px;
            height: 10px;
        }
    }
}

.message-box footer {
    height: 62px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 16px;
    > i {
        width: 30px;
        font-size: 25px;
        text-align: center;
        color: #54656F;
    }
    > input {
        width: calc(100% - 120px);
        height: 42px;
        border: none;
        outline: none;
        border-radius: 8px;
        padding-left: 16px;
    }
}

.unread {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    > p {
        font-size: 14px;
        color: #8696a0;
        font-weight: 400;
    }
    > h6 {
        font-size: 13px;
        color: #008069;
        cursor: pointer;
        font-weight: 400;
    }
    > h6:hover {
        text-decoration: underline;
    }
}

@media (width < 1670px) {
    .full-page {
        padding: 0
    }

    .default {
        padding: 32px;
        text-align: center;
    }

    .incoming, .outgoing {
        max-width: 300px;
    }

    .message-list {
        height: 809px;
    }

    .message-box main {
        padding: 20px;
    }
}